<section>
<article>
    <div class="container-fluid">
  
        <div class="row align-items-start">
            <div class="col-3">
            </div>
            <div class="col-9">
                <h3>ACERCA DE MÍ</h3> <app-about-me-modal></app-about-me-modal>
            </div>
        </div>
  
        <div class="row align-items-start">
            <div class="col-3">
            </div>
            <div class="col-9" id="about-me"> <!--*ngFor="let description of aboutMe"-->
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptate dolor culpa numquam tenetur, placeat repellat assumenda doloremque quia amet cum qui?
                 Reiciendis dolores sapiente aliquid facere possimus amet at?</p> <!--rellenar dato-->
            </div>
        </div>

    </div>  
</article>
</section>