<header class="banner" *ngFor="let h of header">

  <div class="container-fluid text-center" >
    <div id="profile-pic">
      
      <div class="profile-pic">
        <img 
             [src]="h.profilePicture" 
             alt="profile picture"/> <!--rellenar dato-->
      </div>
    </div>
    <div class="titles">
      
      <h1>{{h.fullname}}</h1>  <!--rellenar dato-->
      <h2>{{h.professionalProfile}}</h2>  <!--rellenar dato-->
    </div>
  </div>
  <div class="wave">
    <svg class="waves"
         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#3b2e42" fill-opacity="1" d="M0,128L80,160C160,192,320,256,480,234.7C640,213,800,107,960,96C1120,85,1280,171,1360,213.3L1440,256L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
    </svg>
  </div>
</header>