
<!--editar disenio. fijate que los tamanios coinicidan con los de tu base de datos-->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#experiences-add">
    Añadir
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="experiences-add" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Añadir experiencia</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- <form [formGroup]="formValue"> -->
                <label>Puesto</label><br>
                <input type="text" name="jobExp" value="" size="40" maxlength="40" >
                <label>Empresa</label><br>
                <input type="text" name="companyExp" value="" size="40" maxlength="40">
            
            <label>Fecha de inicio</label>
            <br>
            <input type="date" name="startDateExp" min="2010-01-01">
            <br>
            <label>Fecha de fin</label>
            <br>
            <input type="date" name="endDateExp" min="2010-01-01"> <!--opcional, hacerlos opcionales-->
            <br>
            Breve descripción:
            <textarea name="comentario" rows="5" cols="50" maxlength="250"></textarea>
            <br>
          <!-- </form> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button"  class="btn btn-primary">Añadir</button>  <!--(click)="postExperience()" -->
      </div>
    </div>
    
  </div>