<section>
    <article>
    <div class="projects-fluid text-center">
        <div class="row">
            <div class="col">
                <h3>PROYECTOS</h3> <app-projects-add-modal></app-projects-add-modal>
            </div>
            <div class="col-9">

                <div class="project" *ngFor="let project of projects">
                    <img [src]="project.img" alt="imagen del proyecto">
                    <div class="text">
                        <h4>{{project.title | uppercase}}</h4>
                        <p>{{project.description}}</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    </article>
</section>