<section>
    <article>
    <div class="projects-fluid">
        <div class="row">
            <div class="col text-center">
                <h3>PROYECTOS</h3>
                <app-projects-add-modal></app-projects-add-modal>
            </div>
            <div class="col-9" id="project"> <!--recorrer-->
                <div class="project">
                    <div id="text">
                        <app-projects-edit-modal></app-projects-edit-modal> 
                        <app-delete-modal></app-delete-modal>
                        <h4>RESCATE CAPUCHINO</h4> 
                        <!--rellenar dato--> <!--metodo mayusculas-->
                        <p>Juego creado únicamente con Java.</p> <!--rellenar dato-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </article>
</section>