section{
    background-color: #423549;
}
article{
    padding:5%;
}

h3{
    color: #fa4347;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 4.5rem;
}

/***Project***/



.project{
    position: relative;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: #3b2e42;
    overflow: hidden;
    
    width: 28em;
    height: 28em;
    margin: 0.8em;
    margin-top: 0em;
}

img{
    filter: opacity(0);
    transition:all .5s ease-in-out;
    height: 100%;
    
}

img:hover{
    filter: opacity(0.5);
    transition:all .5s ease-in-out;
}
 
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fa4347;
}

h4{
    font-size:2.5rem;
}

p{
    font-size:1.5rem;
}
