
<!--editar disenio. fijate que los tamanios coinicidan con los de tu base de datos-->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#projects-edit">
    Editar
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="projects-edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar proyecto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <form action="">
                <label>Título:</label><br>
                <input type="text" name="title"> <!--revisar largos-->
            </form>
            <form action="">
                <label>Breve descripción:</label><br>
                <input type="text" name="description">
            </form>
            <form action="">
                <label>URL del proyecto:</label><br>
                <input type="text" name="url" >
            </form>
            <form action="">
                <label>URL de la imagen:</label><br>
                <input type="text" name="image">
            </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Editar</button>
      </div>
    </div>
  </div>