<!-- 
<section>
    <article>
        <div class="container-fluid">
      
            <div class="title-add">
                <h3>EXPERIENCIA</h3>
            </div> 
      
            <div class="row align-items-start"> 
                <div class="col-9" id="experience" *ngFor="let experience of experiences">
                    <div class="article-buttons">
                        <h4>{{experience.job}}</h4>
                    </div>
                    <h5>{{experience.company}}</h5>  
                    <h5>{{experience.startDate}} - {{experience.endDate}}</h5>
                    <p>{{experience.description}}</p>  
                </div>
                <div class="col-3">
                </div>
            </div>
    
        </div>  
    </article>
</section> -->
