<section>
    <article>
        <div class="container-fluid">
      
            <div class="title-add">
                <h3>EXPERIENCIA</h3>
            </div> 
            <!-- <div *ngIf="loginOn"> -->
                <app-experience-add></app-experience-add>
            <!-- </div> -->
            <div class="row align-items-start"> 
                <div class="col-9" id="experience" *ngFor="let experience of experiences">
                    <div class="article-buttons">
                         <h4>{{experience.job}}</h4> <!--*ngIf="loginOn" -->
                         <button type="button"  (click)="onEdit(experience)" data-bs-target="#experience-edit" class="btn btn-primary" data-bs-toggle="modal">Editar</button> 
                         <button type="button" (click)="deleteExperience(experience)" class="btn btn-primary" >Borrar</button>
                    </div>
                    <h5>{{experience.company}}</h5>  
                    <h5>{{experience.startDate}} - {{experience.endDate}}</h5>
                    <p>{{experience.description}}</p>  
                </div>
                <div class="col-3">
                </div>
            </div>
    
        </div>  
    </article>
</section>

<!-- MODAL EDIT -->
  
  <div class="modal fade" id="experience-edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Añadir experiencia</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" >
          
            <form [formGroup]="formValue">
              <div>
                <label>Empleo:</label><br>
                <input type="text" formControlName="job" maxlength="40" >
              </div>
              <div>
                <label>Empresa:</label><br>
                <input type="text" formControlName="company" maxlength="40">
              </div>
              <div>
                <label>Fecha de inicio:</label>
                <br>
                <input type="date" formControlName="startDate" min="2010-01-01" max="2023-07-31">
              </div>
              <div>
                <label>Fecha de fin (opcional):</label>
                <br>
                <input type="date" formControlName="endDate" min="2010-01-01" max="2023-07-31">
              </div>
              <div>
                <label>Descripción:</label><br>
                <input type="text" formControlName="description">
              </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" (click)="updateExperience()" class="btn btn-primary">Editar</button>
      </div>
    </div>
  </div>
