
<!--editar disenio. fijate que los tamanios coinicidan con los de tu base de datos-->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#hard-skill-edit">
    Editar
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="hard-skill-edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Hard-Skill</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <form action="">
                <label>Nombre:</label><br>
                <input type="text" name="name" placeholder="Angular" size="20" maxlength="20"  >
            </form>
            <br>
            <form action="#">
                <label for="lang">Nivel:</label><br>
                <select name="level" id="lang">
                  <option value="selecciona">Seleccione su nivel</option>
                  <option value="básico">básico</option>
                  <option value="intermedio">intermedio</option>
                  <option value="avanzado">avanzado</option>
                </select>
          </form>
            <br>
            <label>Ingrese el código de su svg:</label>
            <br>
            <label class="sublabel">viewBox="
              <input type="text" name="name" placeholder="0 0 24 24" > "</label>
            <br>
            <label class="sublabel">d="
              <input type="text" name="name" placeholder="M9.931 12.645h4.138l-2.07-4.908m0-7.737L.68 3.982l1.726 14.771L12 24l9.596-5.242L23.32 3.984 11.999.001zm7.064 18.31h-2.638l-1.422-3.503H8.996l-1.422 3.504h-2.64L12 2.65z" > 
            "</label>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Editar</button>
      </div>
    </div>
  </div>