section{
    background-color: #3b2e42;
    padding-bottom:17vh;
}

article{
    width: 70%;
    margin:auto;
    padding:3em; /*se puede mejorar medida?*/
    border:0.6rem solid #fa4347;
    padding-bottom: 150px; /*se puede mejorar medida?*/
}

h3{
    color: #fa4347;
    text-align: center ;
    font-size:4.5rem;
}
h4{
    font-size:2.5rem; /*hacer que se adapte al tamanio de contenedor*/
}
a{
    color: #fa4347;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #ff5356;
    transition:all .3s ease-in-out;
}
p{
    font-size: 1.5rem;
    display: inline;
}

#title{
    color: #fa4347;
    list-style: none;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}



/*
#title{
    display: flex;
    flex-wrap: wrap;
	
}

.edit-delete{
    
    align-items: flex-start;
    display: inline-flex;
  }*/